* { 
    padding:0;
    margin:0;
}

html {
    box-sizing: border-box;
    --size: 500px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: var(--size);
    height: var(--size);
}

.square{
    height: calc(var(--size)/16);
    width: calc(var(--size)/16);
    border: 1px solid red;
}

.red{
    background-color: red;
}